<style>
  .coverLetterContent {
    padding: 15px;
    margin: 5px;
  }

  @media print {
    #headerContent {
      display: none;
    }
  }
</style>

<section id="headerContent">
  <h2>Introduction</h2>

  <div class="">
    <p class="coverLetterContent">
      Hey there,
    </p>
    <p class="coverLetterContent">
      My name is Mauro Oviedo, I'm a web developer with a strong affinity for working with others to build great web applications. I use my skills as a Full Stack developer to gain insight into the bigger picture when breaking down problems and finding solutions that meet given constraints.
    </p>
    <p class="coverLetterContent">
      I'm currently working at Zipari, a healthcare startup that offers software solutions to insurance providers. I'm involved in many different facets of the company's technology infrastructure, but my main focus is building consumer and enterprise frontend applications in AngularJS, Less, HTML & Django. I’ve worked on Zipari’s applications likes doctor and facility search, insurance shopping products, and consumer health portals. I'm also one of Zipari's cloud infrastructure developers and I'm heavily relied upon to deploy new production features, set up new servers, maintain existing and older servers and resolve production issues.
    </p>
    <p class="coverLetterContent">
      My previous position was at a company called Dom and Tom, a digital agency. I worked with clients, developers, designers and project managers to build web properties for different clients. Most notably, I've worked on a single page applications that allows users to create financial portfolios and to calculate different kinds of risk. I've also worked on creating RESTful services that were consumed by both mobile and web applications using OAuth 2, a web protocol for secure communication and authentication.
    </p>
    <p class="coverLetterContent">
      Before Dom and Tom, I worked for an online food ordering startup called FoodToEat. At FoodToEat I collaborated with one other developer and we were tasked to build, from the ground up, the company's new food ordering website. We used Django for developing the server-side implementation of the website and we used Backbone.js to organize the client facing features of the web application. As this was a small team setting, I was able to decide what technologies we would use to solve problems like spatially mapping out how many restaurants were within the vicinity of a user's location.
    </p>
  </div>
</section>
