<style>
  h5 {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
  }
  @media print {
    ul {
      margin-top: 3px;
    }
  }
</style>

<h4 class="h4Continer">
  <span>Zipari, New York, NY</span>
  <span>March 2015 – Present</span>
</h4>

<h5>Full-Stack Developer</h5>

<ul>
  <li>
    Developed both customer facing and enterprise web applications and services using Python’s Django, AngularJS and Angular.
  </li>
  <li>
    Lead and mentored team of frontend developers.
  </li>
  <li>
    Collaborated with developers, project managers and clients to meet, time sensitive, project deadlines.
  </li>
  <li>
    Created reusable AngularJS components for internal use which helped speed up client delivery.
  </li>
  <li>
    Performed debugging, profiling and optimization for frontend stack.
  </li>
  Collaborated with sales team to architect and build multiple applications for sales demonstrations.
  <li>
    Used Chef, Puppet, Ansible and Jenkins to build and administer AWS infrastructure and deployment pipeline.
  </li>
  <li>
    Worked with Apache and Nginx logging to troubleshoot python web applications.
  </li>
  <li>
    Worked with Sensu monitoring service to setup monitoring alerts.
  </li>
  <li>
    Standardized front-end development process with brunch build tool.
  </li>
  <li>
    Followed Scrum agile practices for planning and developing projects.
  </li>
  <li>
    Helped with interviewing and on-boarding new developers.
  </li>
</ul>


<h4 class="h4Continer">
  <span>Dom and Tom, New York, NY</span>
  <span>Feb 2014 – Feb 2015</span>
</h4>

<h5>Full-Stack Developer</h5>
<ul>
  <li>
    Collaborated with clients, developers, designers and project managers to build web applications for various clients.
  </li>
  <li>
    Worked extensively with MarionetteJS and AngularJS to build complex single view web applications.
  </li>
  <li>
    Leveraged Laravel, PHP framework, for server-side web development and created RESTful APIs and OAuth2 authentication services for mobile front-end.
  </li>
  <li>
    Helped clients scope out projects and articulate ideas into functional applications.
  </li>
  <li>
    Worked with Vagrant and Ansible to create per-project development environment.
  </li>
</ul>


<h4 class="h4Continer">
  <span>FoodToEat, New York, NY</span>
  <span>Sep 2013 – Feb 2014</span>
</h4>

<h5>Full-Stack Developer</h5>
<ul>
  <li>
    Collaborated with lead developer to build food ordering web application using Django and BackboneJS.
  </li>
  <li>
    Focused on functionality related to geolocation using Geodjango, BackboneJS and OpenLayers.
  </li>
  <li>
    Developed all back-end functionality using Test-driven development.
  </li>
  <li>
    Worked with Twilio API service to create user and vendor notification system.
  </li>
  <li>
    Worked with facebook API to integrate facebook login.
  </li>
</ul>

<h4 class="h4Continer">
  <span>PublicStuff, New York, NY</span>
  <span>Summer 2013</span>
</h4>

<h5>Web Developer Consultant</h5>
<ul>
  <li>
    Tasked with reimplemented product mapping features using PHP Kohana framework, ArcGIS and PostgreSQL.
  </li>
  <li>
    Implemented automated unit tests for Javascript components using Jasmine testing tool.
  </li>
</ul>

<h4 class="h4Continer">
  <span>Insticator, New York, NY</span>
  <span>Oct 2012 – Mar 2013</span>
</h4>

<h5>Web Developer Consultant</h5>
<ul>
  <li>
    Worked with company founder to build minimum viable prototype in HTML, Sass, and JavaScript.
  </li>
  <li>
    Deployed prototype on Google App Engine.
  </li>
</ul>

<h4 class="h4Continer">
  <span>VIP Art, New York, NY</span>
  <span>Summer 2012</span>
</h4>

<h5>Web Developer Consultant</h5>
<ul>
  <li>
    Built various front-end widgets using JavaSciprt, HTML, Sass and Bootstrap.
  </li>
  <li>
    Implemented automated unit tests for Javascript components using Jasmine testing tool.
  </li>
  <li>
    Implemented automated acceptance tests using Selenium with python driver.
  </li>
</ul>
