<style>
  h4 {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  @media print {
    p {
      margin: 0 0 3px 0;
    }
  }
</style>

<h4>Programming Languages</h4>
<p>
  JavaScript, Python, Ruby, PHP, Elixir
</p>

<h4>Front-end</h4>
<p>
  AngularJS, Angular, VueJS, BackboneJS, Brunch, Webpack, Sass, Less
</p>

<h4>Back-end</h4>
<p>
  Django, Node.js, Flask
</p>

<h4>Dev-Ops</h4>
<p>
  AWS, Vagrant, Ansible, Chef, Puppet, Jenkins, Travis-CI
</p>

<h4>Database</h4>
<p>
  PostgreSQL, PostGIS, MySQL
</p>

<h4>Version Control</h4>
<p>
  Git and Mercurial Hg
</p>
